{{- if and .Known .Unknown -}}
Unknown firings:
{{range $i, $f := .Unknown}}Firing {{inc $i}}:
  State:       {{state $f.Alert.Condition}}
{{- if $f.Alert.StartsAt}}
  Started:     {{formatTime $f.Alert.StartsAt}}
{{- end}}
{{- if $f.Alert.EndsAt}}
  Ended:       {{formatTime $f.Alert.EndsAt}}
{{- end}}
  Severity:    {{$f.Alert.Severity}}
{{- if $f.Alert.Labels}}
  Labels:      {{formatLabels $f.Alert.Labels}}
{{- end}}
{{- if $f.Alert.Description}}
  Description: {{$f.Alert.Description}}
{{- end}}
{{end}}
Known firings (for reference):
{{range $i, $f := .Known}}Firing {{inc $i}}: (known issue: {{$f.Metadata.KnownIssueReason}})
  State:       {{state $f.Alert.Condition}}
{{- if $f.Alert.StartsAt}}
  Started:     {{formatTime $f.Alert.StartsAt}}
{{- end}}
{{- if $f.Alert.EndsAt}}
  Ended:       {{formatTime $f.Alert.EndsAt}}
{{- end}}
  Severity:    {{$f.Alert.Severity}}
{{- if $f.Alert.Labels}}
  Labels:      {{formatLabels $f.Alert.Labels}}
{{- end}}
{{- if $f.Alert.Description}}
  Description: {{$f.Alert.Description}}
{{- end}}
{{end}}
{{- else -}}
{{range $i, $f := .Unknown}}Firing {{inc $i}}:
  State:       {{state $f.Alert.Condition}}
{{- if $f.Alert.StartsAt}}
  Started:     {{formatTime $f.Alert.StartsAt}}
{{- end}}
{{- if $f.Alert.EndsAt}}
  Ended:       {{formatTime $f.Alert.EndsAt}}
{{- end}}
  Severity:    {{$f.Alert.Severity}}
{{- if $f.Alert.Labels}}
  Labels:      {{formatLabels $f.Alert.Labels}}
{{- end}}
{{- if $f.Alert.Description}}
  Description: {{$f.Alert.Description}}
{{- end}}
{{end}}
{{- end -}}
